*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --box-size: 150px;
    --mark-size: calc(var(--box-size) * .9);
}

body{
    align-items: ;
    margin: 0;
}
.tictactoe {
width: 100vw;
height: 100vh;
display: grid;
justify-content: center;
align-content: center;
align-items: center;
grid-template-columns: repeat(3, auto);
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3){
    border-top: none;
}

.box:nth-child(3n + 1) {
    border-left: none;
}

.box:nth-child(3n + 3){
    border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7){
    border-bottom: none;
}

.box.x,
.box.circle {
cursor: not-allowed;
}

.box.x::before,
.box.x::after,
.box.circle::before {
    background-color: brown;
}

.tictactoe.x .box:not(.x):not(.circle):hover::before,
.tictactoe.x .box:not(.x):not(.circle):hover::after,
.tictactoe.circle .box:not(.x):not(.circle):hover::before{
    background-color:lightblue;
    }

.box.x::before,
.box.x::after, 
.tictactoe.x .box:not(.x):not(.circle):hover::before,
.tictactoe.x .box:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.box.x::before,
.tictactoe.x .box:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.box.x::after,
.tictactoe.x .box:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.box.circle::before,
.box.circle::after,
.tictactoe.circle .box:not(.x):not(.circle):hover::before,
.tictactoe.circle .box:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.box.circle::before,
.tictactoe.circle .box:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}

.box.circle::after,
.tictactoe.circle .box:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color:antiquewhite;
}

.game-result{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9);
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 4rem;
    flex-direction: column;
}

.game-result button{
    font-size: 3rem;
    background-color: antiquewhite;
    border: 1px solid brown;
    padding: .25em .5em;
    cursor: pointer;
}

.game-result button:hover{
    background-color: brown;
    color: antiquewhite;
    border-color: antiquewhite;
}

.game-result.show {
    display: flex;
}